<div class="contactsAndAbout">
  <div class="about">
    <div class="about-image" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
      <img src="assets/images/cafe.jpg" alt="">
    </div>
    <div class="about-text">
      <div class="text-container" data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <h4>welcome to <span>
            <fa-icon [icon]="faPizzaSlice"></fa-icon> Pizza
          </span> restauraunt</h4>
        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been
          rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little
          Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince
          her
          and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and
          Parole
          and dragged her into their agency, where they abused her for their.</p>
      </div>
    </div>
  </div>
  <div class="contacts">
    <div class="contact-info">
      <div class="card mailCard" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="500">
        <i class="card-icon far fa-envelope"></i>
        <p><a href="mailto:yurakohut97@gmail.com" target="_blank">yurakohut97@gmail.com</a></p>
      </div>

      <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="800">
        <i class="card-icon fas fa-phone"></i>
        <p><a href="tel:+380682292861" target="_blank">+380682292861</a> </p>
      </div>

      <div class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="1100">
        <i class="card-icon fas fa-map-marker-alt"></i>
        <p><a
            href="https://www.google.pt/maps/dir/New+York/38.697511,-9.334687/@41.1730375,-92.6184355,2416572m/data=!3m1!1e3!4m9!4m8!1m5!1m1!1s0x4ccc4bf0f123a5a9:0xddcfc6c1de189567!2m2!1d-74.2179326!2d43.2994285!1m1!4e1?hl=en"
            target="_blank">198
            West 21th Street, New York, USA</a> </p>
      </div>
    </div>
  </div>

</div>
