.orders {
  border: 1px solid red;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

.warningMessage {
  display: none;
  color: white;
  text-align: center;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.chipList {
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.panelTitle {
  width: 60%;
  position: relative;
  height: 48px;
  line-height: 48px;
}

mat-panel-description>span {
  line-height: 48px;
}

.cardHeader p {
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 18px;
}

.card {
  margin-bottom: 15px;
}

.textBold {
  font-weight: bold;
}

.card-text {
  margin-bottom: 5px;
}

.orderSum {
  float: right;
  margin-bottom: 15px;
}

.orderName {
  color: red;
  margin: 0 5px;
}

ul {
  margin: 0;
  padding: 0;
}

.orderDescription li {
  list-style-type: none;
}

.orderDescription-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderDescription-flex fa-icon,
.userEdit,
li>fa-icon {
  cursor: pointer;
  transition: .3s all;
}

.userEdit:hover,
li>fa-icon:hover {
  color: var(--main-color)
}

.deleteProduct:hover {
  color: red
}

.editUserModalCss>input.ng-touched.ng-invalid {
  border: 1px solid red
}

.editUserModalCss>input.ng-touched.ng-valid {
  border: 1px solid green
}

.countInput {
  margin: 0 5px;
  width: 50px;
  border: none;
  background: none;
}

.countInput {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width:768px) {
  .container {
    display: none;
  }

  .warningMessage {
    display: block;
  }
}
