.basket {
  margin-top: 10vh;
  min-height: 90vh;
}

.basket-content {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.basket-content h2 {
  margin-bottom: 50px;
  color: white
}

h2 {
  font-family: "Poppins-Regular", sans-serif;
}

.basket-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #905527;
  margin-bottom: 20px;
  color: white;
  align-items: center;
  background: rgba(202, 138, 89, 0.3);
}

.basket-leftInfo,
.basket-rightInfo {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 100%;
  align-items: center;
  padding: 10px;
}

.basket-rightInfo {
  background: var(--main-color);
  border: 2px solid #905527;
  border-right: none;
}

.basket-leftInfo img {
  width: 180px;
  height: 125px;
}

.basket-leftInfo p {
  font-family: "Poppins-Bold", sans-serif;
  width: 30%;
  flex-wrap: wrap;
}

.countProduct input {
  width: 35px;
  height: 35px;
  background: none;
  outline: none;
  border: 2px solid #905527;
  text-align: center;
  color: black;
  border-radius: 50%;
}

.countProduct button {
  border: none;
  font-weight: bold;
  outline: none;
  background: none;
  color: red;
  transform: scale(1.8);
  transition: .3s all;
}

.countProduct button:hover {
  color: white;
  cursor: pointer;
}

button[mat-button] {
  margin-right: 8px;
}

.orderStepper {
  background: white;
  padding: 30px 0;
}

.deletePoduct {
  transition: .2s ease-in;
  cursor: pointer;
}

.deletePoduct:hover {
  color: red;
}

.order {
  font-size: 20px;
  color: black;
}

.order .price {
  color: red;
}

@media screen and (max-width:1000px) {

  .basket-leftInfo,
  .basket-rightInfo {
    width: 100%;
  }

  .basket-leftInfo {
    position: relative;
  }

  .basket-leftInfo fa-icon {
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .basket-rightInfo {
    border: none;
    border-top: 2px solid #905527;
  }
}

@media screen and (max-width:425px) {
  .basket-leftInfo {
    display: block;
  }

  .basket-leftInfo p {
    margin: 15px auto;
  }
}
