<div class="productDetails">
  <div class="card mb-3" style="width: 90%; max-width: 500px;" *ngFor="let product of oneProduct; let i=index">
    <img src="{{product.image}}" class="card-img" alt="{{product.name}}">
    <div class="card-body">
      <ul>
        <li class="card-title">
          <span class="name">{{product.name}}</span>
          <span class="price">{{product.price | currency: 'UAH':'symbol-narrow':'1.0'}} </span>
        </li>
        <li class="card-text">
          <span class="description">{{product.description}}</span>
        </li>
        <li class="card-text" *ngIf="product.size">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/myproject-c5d44.appspot.com/o/Pizza%20backdround%2Fsize.png?alt=media&token=3bdfc083-88cb-45a8-9c67-109e0f50107c"
            alt="size"><span> {{product.size}} inc</span>
        </li>
        <li class="card-text" *ngIf="product.weight">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/myproject-c5d44.appspot.com/o/Pizza%20backdround%2Fscale.png?alt=media&token=4fbefc95-c1ce-46bb-8437-f76bfe8eff93"
            alt="weight"><span> {{product.weight}} gr</span>
        </li>
        <li><button mat-raised-button color='primary' (click)="goBack()">Back</button></li>
      </ul>
    </div>
  </div>
</div>
