  <div class="services">
    <div class="container">
      <div class="card">
        <div class="imgBx" data-text="Health">
          <img src="assets/images/health.png" alt="health">
        </div>
        <div class="content">
          <div>
            <h3>Healthy foods</h3>
            <p>Our ingredients are grown by your grandmother in the garden</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx" data-text="Speed">
          <img src="assets/images/delivery-bike.png" alt="speed">
        </div>
        <div class="content">
          <div>
            <h3>Fastest delivery</h3>
            <p>Our delivery is as fast as an ambulance in Europe</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx" data-text="Recipes">
          <img src="assets/images/recipes.png" alt="">
        </div>
        <div class="content">
          <div>
            <h3>Recipes</h3>
            <p>We cook according to your mom's recipes</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx" data-text="Price">
          <img src="assets/images/money.png" alt="">
        </div>
        <div class="content">
          <div>
            <h3>Price</h3>
            <p>We have such low prices that even a Ukrainian student can afford it</p>
          </div>
        </div>
      </div>
    </div>
  </div>
