  <div class="feedback">
    <div class="feedback-fl">
      <div class="feedback-image" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="500">
        <img src="assets/images/feedback-bg.jpg" alt="">
      </div>
      <div class="social" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
        <h3>Contact Us</h3>
        <div class="share-button">
          <span><i class="fas fa-share-alt"></i> Share!</span>
          <a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/?lang=uk" target="blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/?hl=uk" target="blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
