<div class="mb-3">
  <button *ngIf="archiveOrders.length>0" mat-raised-button (click)="deleteAllArchive()" class="btn btn-danger">Delete
    archive</button>
</div>

<div class="form-group">
  <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="Search.." id="search">
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let order of archiveOrders.sort(sortArray) | filter:search;" class="mb-2">
    <mat-expansion-panel-header class="expansion-panel">
      <mat-panel-title class="panelTitle">
        <div class="cardHeader">
          <p><span class="orderName">{{order.name}}</span>
          </p>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <span>{{order.date | date: 'dd/MM/yy, H:mm'}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <hr>
    <p class="card-text">Adress: {{order.adress}}
    </p>
    <p class="card-text">Phone: {{order.number}}
    </p>
    <hr>
    <div class="orderDescription" *ngFor="let product of order.product; let i=index">
      <div class="orderDescription-flex">
        <ul>
          <li><span class="textBold">Category:</span> {{product.category}}</li>
          <li><span class="textBold">Name:</span> {{product.name}}</li>
          <li><span class="textBold">Count:</span> {{product.count}}</li>
          <li><span class="textBold">Price:</span> {{product.price * product.count}}грн </li>
        </ul>
      </div>
      <hr>
    </div>
    <h4 class="orderSum">Together: {{orderSum(order.product)}} грн</h4>
  </mat-expansion-panel>
</mat-accordion>
